@use "sass:color";

html,
body {
    all: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        display: flex;
        background-color: white;
        z-index: 100;

        > a {
            display: flex;
            align-items: center;
            justify-content: start;
            height: 100%;
            text-decoration: none;
            flex-basis: 1;
            flex-grow: 1;
            font-weight: 700;
            text-transform: uppercase;
            color: black;

            &:hover {
                background-color: lighten(lightgrey, 10%);
            }

            &:visited {
                color: black;
            }

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                flex-grow: 1;
            }
        }
    }

    header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0, #4b6cb7, #182848);
        color: white;
        padding: 32px;

        > section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .offline-indicator {
            position: fixed;
            top: 100px;
            background: linear-gradient(45deg, darken(#c0392b, 15%), #e74c3c);
            color: white;
            font-weight: bold;
            border-radius: 50px;
            padding: 0.8em 1.2em;
            display: flex;
            align-items: center;

            > img {
                height: 30px;
                padding-right: 16px;
                filter: invert(80%);
            }
        }

        .logo {
            background-image: url('../images/pwa-light.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            max-width: 500px;
            height: 8em;
            margin-bottom: 1.5em;
        }
    }

    main {
        width: 100%;

        > .transition-wrapper-header {
            transform: rotate(180deg) scaleX(-1);
            fill: #4b6cb7;
            display: block;
            font-size: 0;
            height: 100%;
        }

        > .transition-wrapper-footer {
            fill: #182848;
            display: block;
            font-size: 0;
            height: 100%;
        }

        > section {
            max-width: 800px;
            padding: 32px 32px 0 32px;
            margin: 0 auto;

            > .content {
                max-width: 800px;

                > .flex {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    flex-wrap: wrap;

                    > div {
                        width: 25%;
                        min-width: 9em;
                        margin: 8px;
                        flex-grow: 1;
                    }

                }
            }
        }

        #acceleration,
        #gyroscope {
            display: none;
        }

    }

    footer {
        background-color: #182848;
        color: white;
        padding: 64px;

        > p{
            text-align: center;
            max-width: 800px;
            margin: 0 auto;

            > a {
                color: white;
            }
        }
    }

}

h2 {
    font-weight: lighter;
    font-size: 2em;
    hyphens: auto;

    &:before {
        content: "#";
        color: lightgray;
        margin-right: 10px;
    }
}

h3 {
    font-size: 1.5em;
    font-weight: lighter;
    
    &:before {
        content: '##';
        color: lightgray;
        margin-right: 10px;
    }
}

p {
    font-size: 1.2em;
    hyphens: auto;
}

.invisible {
    display: none !important;
}

button {
    font-size: 1.2em;
    padding: 1em;
    background-color: #4b6cb7;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin-bottom: 2em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

video {
    width: 100%;
    height: 50vh;
    display: none;
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 16px;
    text-align: center;

    > .card-header {
        height: 40%;
        margin-bottom: 16px;
        
        > svg {
            height: 100%;
            max-width: 4em;
            display: block;
            margin: 0 auto;
            color: #4b6cb7;
        }
    }
}

.smaller {
    font-size: 1em;
}

a {
    color: #4b6cb7;

    &:visited {
        color: #182848;
    }
}

.white-text {
    color: #ffffff !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
}